{% load static %}
<!DOCTYPE html>

<html>

    {% block head %}

    {% include "partials/head.html" %}
    <title> {% block title %}{% endblock title %}</title>
    {% endblock head %}
    {% block body %}

    <body class="w3-black">

        <!-- Icon Bar (Sidebar - hidden on small screens) -->
        {% include "partials/navbar.html" %}
        {% block header %}
        {% include "partials/content/header.html" %}
        {% endblock header %}
        <!-- Page Content -->
        <div class="w3-padding-large" id="main">
            {% block contenu %}

            {% endblock contenu %}
            <!-- Header/Home -->

            <!-- About Section -->

            <!-- Portfolio Section -->

            <!-- Contact Section -->

            <!-- Footer -->
            {% block footer %}
            {% include "partials/content/footer.html" %}{% endblock footer %}

            <!-- END PAGE CONTENT -->
        </div>

    </body>
    {% endblock body %}

    {% block script %}

    {% endblock script %}

</html>