<!DOCTYPE html>
<html>
{% block head %}
    {% include "partials/head.html" %}

{% endblock head %}

<body class="w3-black">
    {% block body %}

    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    {% include "partials/navbar.html" %}

    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
        <!-- Header/Home -->


        <!-- About Section -->


        <!-- Portfolio Section -->


        <!-- Contact Section -->

        <!-- Footer -->


        <!-- END PAGE CONTENT -->
    </div>
    {% endblock body %}
</body>

</html>