{% extends "base.html" %}

{% block title %}Cesar{% endblock title %}
    {% block header %}{% endblock header %}
{% block contenu %}
<div class="body">
    <div class="container global">
        <h1 class="global-title">Algorithme de Cesar</h1>
        <div class="row boule-content">
            <div class="boule1"></div>
            <div class="boule2"></div>
            <div class="boule1"></div>
            <div class="boule2"></div>
        </div>
        {% if message_error_mode %}
            <h3 class="alert alert-warning">{{message_error_mode}}</h3>
        {% endif %}

        {% if message_error_key %}
            <h3 class="alert alert-warning">{{message_error_key}}</h3>
        {% endif %}
        <form action="" method="POST" id="form">
            {% csrf_token %}
            <div class="row">
                <label for="message" class="form-label">Message</label>
                <textarea name="message" id="message" cols="30" rows="10" class="form-control" required>{% if message %}{{message}}{% endif %}</textarea>
            </div>

            <div class="row">
                <label for="key" class="form-label col-3" >Clé</label>
                <input type="number" name="key" id="key"   {% if key %}
                    value="{{key}}" {%endif%} class="form-control col-3" required>
                <input type="checkbox" name="mode" id="mode" hidden>
            </div>
            <div class="row">
            <button  class="btn btn-outline-primary mt-2 col" onclick="soumettre_crypter()">Crypté </button>
            <button  class="btn btn-outline-warning mt-2 col">Décrypté</button>
        </div>
        </form>
        
            {% if message_result %}
            <div class="message">
                <h3 style="color:black">{{message_result}}</h3>
            </div>
            {% endif %}
      

    </div>
    </div>
{% endblock contenu %}