<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
    <title>Cryptographie</title>

    <style>
        .global{
            background-color: rgba(0, 0, 0, 0.673);
            padding: 3%;

        }

        body{
            background-image: url("{% static 'img/bg.png' %}");
        }
    </style>
</head>
<body>
    <div class="container global">
        <h1 class="global-title">Bienvenu sur mon application de Cryptographie</h1>
        {% if message_error_mode %}
            <h3 class="alert alert-warning">{{message_error_mode}}</h3>
        {% endif %}

        {% if message_error_key %}
            <h3 class="alert alert-warning">{{message_error_key}}</h3>
        {% endif %}
        <form action="" method="POST" id="form">
            {% csrf_token %}
            <div class="row">
                <label for="message" class="form-label">Message</label>
                <textarea name="message" id="message" cols="30" rows="10" class="form-control">{% if message %}{{message}}{% endif %}</textarea>
            </div>

            <div class="row">
                <label for="key" class="form-label">Clé</label>
                <input type="number" name="key" id="key"   {% if key %}
                    value="{{key}}" {%endif%} >
                <input type="checkbox" name="mode" id="mode" hidden>
            </div>
            <div class="row">
            <button  class="btn btn-outline-primary mt-2" onclick="soumettre_crypter()">Crypté </button>
            <button  class="btn btn-outline-warning mt-2">Décrypté</button>
        </div>
        </form>
        <div>
            {% if message_result %}
                <h3>{{message_result}}</h3>
            {% endif %}
        </div>


    </div>
    <script src="{% static 'dist/js/bootstrap.min.js'%}"></script>
        
    <script>
        
        
        function soumettre_crypter(){
            const mode = document.getElementById("mode");
            const formulaire = document.getElementById("form");
            
            mode.checked = true;
            
        }
       
    
</script>
</body>
</html>